#### 写出导入pandas的语句，并且给pandas别名为`pd`。

#### 创建一个叫`name`的Series，里面包含字符串元素 `"小陈", "小李", "小王", "小张", "小赵", "小周"`，标签为`"001", "002", "003", "004", "005", "006"`。
#### 创建一个叫`gender`的Series，里面包含字符串元素 `"女", "女", "男", "男", "女", "男"`，标签为`"006", "005", "004", "003", "002", "001"`。
#### 创建一个叫`height`的Series，里面包含浮点数元素 `172.5, 168.0, 178.2, 181.3, 161.7`，标签为`"001", "002", "003", "004", "005"`。

#### 创建一个叫`students`的DataFrame，包含列名姓名、性别、身高，数据分别对应创建好的`name`、`gender`、以及`height`这三个Series。输出创建好的`students`。

#### 打印`students`所有索引和列名。

#### 输出把`students`的行和列进行转置后的结果。

#### 输出`students`的身高列。

#### 输出`students`的性别和身高列。

#### 输出`students`索引为003的行。

#### 输出`students`索引为003、004、005的行。

#### 输出`students`里索引为005的身高。

#### 输出`students`索引为003、005的数据的姓名和身高。

#### 输出`students`索引为003、005的数据的所有变量。

#### 输出`students`里身高大于165的女性。

#### 通过`head`方法，输出`students`前五行数据。